Support Automation/Mail/support-automation-mail.json
{
  "name": "support-automation-mail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        1872
      ],
      "id": "2e4f5fe5-ceae-45ac-a9bf-50a285d0fcca",
      "name": "Support mail receive"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af338915-45b2-49ce-94f4-e70dc0030a7d",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a555bb1-fbaa-4d26-b1ee-2ca94831df82",
              "leftValue": "={{ $json.labelIds[1] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "be6e963b-87e8-4b5e-ada1-4d978aedc55f",
              "leftValue": "={{ $json.labelIds[2] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d34df545-0e99-42aa-8fe2-61c269bf0237",
              "leftValue": "={{ $json.labelIds[3] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f61ca3d3-c644-4313-b8d2-c1598a09dbda",
              "leftValue": "={{ $json.labelIds[4] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c73bf957-7c46-448c-9bb9-e1b7f234fecc",
              "leftValue": "={{ $json.labelIds[5] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1872
      ],
      "id": "ea9129be-ffe8-42fc-a523-7749fbd0fd6f",
      "name": "Mail label check"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs",
          "mode": "list",
          "cachedResultName": "Support Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email Threads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Thread ID",
              "lookupValue": "={{ $('Support mail receive').first().json.threadId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        1856
      ],
      "id": "d3d85457-aa27-408b-8c89-3f7a7f6a1c88",
      "name": "Fetch chat history",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1248,
        1856
      ],
      "id": "6c41d1f3-66c7-4344-9126-b3269ba7a248",
      "name": "Combine Chat History"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat History:\n\n{{ JSON.stringify($('Combine Chat History').item.json.data) }}\n\nSubject:\n\n{{ $('Support mail receive').first().json.subject }}\n\nBody:\n\n{{ $('Support mail receive').first().json.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a customer support assistant for an educational service that sells course seats.\n\nYour task is to process incoming user messages and classify or respond according to the following rules:\n\n1. Determine which course the user is referring to.  \n    - If the course name is not mentioned in the chat history, and the user’s message is about a refund or seat transfer, ask the user to mention the course name. Also if the message is about seat transfer, then as for user's email (which they used for registration), phone number, transferee's name, transferee's email, transferee's phone number. Ask for the information in a professional mail asking for information politely without using salutations or adding a subject.\n\n    - If the user’s message is not about a refund or seat transfer, and the course name is missing, proceed without asking for the course name.\n\n    - Proceed with refund and seat transfer logic only if the course name is either \"AI Saksham\" or \"EV Saksham\".\n\n2. Identify if the user’s message is about:\n   - Refund request\n   - Seat transfer\n   - Get information about their seat\n   - Other support-related query (technical issue, inquiry, or general help)\n   - Irrelevant message (not related to support, e.g., personal chat)\n\n3. If the message is a refund request:\n   - Output exactly: \"refund\"\n   - Do not ask any follow up questions.\n   - Make sure that the message asks for a refund or is an inquiry about initiating a refund. If it's neither then respond: \"irrelevant\"\n\n4. If the message is a seat transfer request:\n   - Only apply this rule if the course is \"AI Saksham\" or \"EV Saksham\".\n   - Check if the following details are provided:\n       • User's email  \n       • User's phone number  \n       • Transferee's name  \n       • Transferee's email  \n       • Transferee's phone number  \n       • Transferee's Department\n       • Transferee's Graduattion year\n   - If any of these details are missing, ask the user to provide the missing ones in a formal well curated mail format.\n   - If all required details are present, output exactly: \"seat_transfer\"\n\n5. If the message is about verifying their information and seat details \n   - Check ask the user to provide the email ID they had used for registration.\n   - If the email ID is given then output exactly: \"seat_number\"\n\n6. If the message is any other support-related query (not refund or seat transfer), output exactly: \"miscellaneous\"\n\n7. If the message is not related to support (e.g., personal message, spam, unrelated content), output exactly: \"irrelevant\"\n\nFollow these rules strictly. Do not generate any extra explanations or text outside of these defined responses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1904,
        1696
      ],
      "id": "282602b6-babd-4891-8a13-ba46cec5ca5a",
      "name": "Classify query"
    },
    {
      "parameters": {
        "text": "=Mail Subject:\n\n{{ $('Support mail receive').first().json.subject }}\n\nMail Body:\n\n{{ $('Support mail receive').first().json.text }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "topicalAlignment": {
            "value": {
              "threshold": 0.7,
              "prompt": "=You are a content analysis system that determines if text stays on topic.\n\nBUSINESS SCOPE: The business scope is checking whether the mails received are support related queries for the edtech team. Examples include refund requests, seat transfer requests, account issues, billing questions, feature access problems, and other customer support inquiries related to a edtech firm products or services.\n\nDetermine if the text stays within the defined business scope. Flag any content\nthat strays from the allowed topics."
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        1456,
        1856
      ],
      "id": "ed3d6c1f-dffb-40b7-884f-b637b6908f84",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1408,
        2064
      ],
      "id": "1afa6c02-1e97-4f13-b9da-325c825a23bf",
      "name": "Guardrail model"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1840,
        1936
      ],
      "id": "5c951e3b-129a-4293-93dd-10ea3376f8d3",
      "name": "Classify model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1984,
        1936
      ],
      "id": "3d2d007b-4fb7-4c2b-be90-f81c7b47d474",
      "name": "Classify fallback model"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7602ab38-b9c5-4d4c-9809-41bce68e1ef7",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "seat_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seat_number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "^(refund|miscellaneous|seat_transfer|irrelevant)$",
                    "operator": {
                      "type": "string",
                      "operation": "notRegex"
                    },
                    "id": "632a9d21-032f-4874-bc8f-f960c9b8f06d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69b6f364-553a-47f3-a2af-254dc4d0f9ea",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f2008c8-017f-4f7b-9999-ef5bc5a7f65d",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "seat_transfer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seat_transfer"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2256,
        1680
      ],
      "id": "084ee076-0983-4dce-9b35-9b4a96722cb5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').item.json.threadId }}",
        "emailType": "text",
        "message": "=Hi {{ $('Support mail receive').first().json.from.value[0].name }}\n\n{{ $json.output }}\n\nBest Regards,\nTeam Capabl\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        1424
      ],
      "id": "35e441c9-f84d-47f8-8d6a-df2062b0cb9d",
      "name": "Other Route Reply",
      "webhookId": "01776862-c77b-4a9e-a4de-1172b9571cc4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5280,
        1248
      ],
      "id": "8875a933-dfe5-4dec-8010-8978a6d9f6be",
      "name": "Add AI response to chat history"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').first().json.threadId }}",
        "message": "=<html> \n<body> \n<p>Hi {{ $('Support mail receive').first().json.from.value[0].name }},</p>\n<p>\n  There are limited seats allotted to each college & department, so seat\n  cancellation is not applicable.\n</p>\n{{ $('Support mail receive').item.json.from.value[0].name }}\n<p>\n  However, in this case you can transfer your seat to another interested\n  student from your college & share details of both students on\n  <a href=\"mailto:support@capabl.in\">support@capabl.in</a>.\n</p>\n\n<p>Kindly provide below details in the email:</p>\n\n<p>\n  Course Name:<br />\n  Your Email ID:<br />\n  Your Phone Number:<br />\n  Transferee’s full name:<br />\n  Transferee’s email address:<br />\n  Transferee’s phone number:<br />\n  Transferee’s Department:<br />\n  Transferee’s Graduation year:\n</p>\n\n<p>Best Regards,<br />Team Capabl</p>\n\n<p>\n  This is an AI generated response, if you believe this is a mistake feel\n  free to let us know by\n  <a href=\"https://n8n-machine-fubscyfcedhydzab.southindia-01.azurewebsites.net/webhook/9d51073b-50d8-43b9-8b63-c580131572d7?name={{ $('Support mail receive').item.json.from.value[0].name }}&email={{ $('Support mail receive').item.json.from.value[0].address }}\">clicking here</a>.\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        1696
      ],
      "id": "28a981fc-79fc-4111-837e-dada0de8b0a0",
      "name": "Send refund message",
      "webhookId": "6fad77eb-a5ce-4de0-95c6-24e679b1fd1c"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2528,
        2192
      ],
      "id": "566aa45b-bfe2-4511-b162-f346c2be66e4",
      "name": "Extraction model"
    },
    {
      "parameters": {
        "text": "=Chat History:\n\n{{ JSON.stringify($('Combine Chat History').item.json.data) }}\n\nMail Subject:\n\n{{ $('Support mail receive').first().json.subject }}\n\nMail Body:\n\n{{ $('Support mail receive').first().json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "student_email",
              "description": "The email of the student who is initiating the seat transfer",
              "required": true
            },
            {
              "name": "student_phone_number",
              "description": "The phone number of the student who is initiating the seat transfer",
              "required": true
            },
            {
              "name": "transferee_name",
              "description": "The name of the student the seat is being transferred to.",
              "required": true
            },
            {
              "name": "transferee_email",
              "description": "The email of the student the seat is being transferred to.",
              "required": true
            },
            {
              "name": "transferee_phone_number",
              "description": "The phone number of the student the seat is being transferred to.",
              "required": true
            },
            {
              "name": "department",
              "description": "The department to which the seat transferred to belongs",
              "required": true
            },
            {
              "name": "graduation_year",
              "description": "The graduation year of the student the seat is being transferred to",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2560,
        1952
      ],
      "id": "be3af506-2522-4c62-ba9b-5f80459ab631",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Wh0ZkHWzE9YBvqO_XA2ERN-3WZZi14_tobmQ-jrzhhU",
          "mode": "list",
          "cachedResultName": "2025 Financial Plans",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wh0ZkHWzE9YBvqO_XA2ERN-3WZZi14_tobmQ-jrzhhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 911736951,
          "mode": "list",
          "cachedResultName": "Student Pay",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wh0ZkHWzE9YBvqO_XA2ERN-3WZZi14_tobmQ-jrzhhU/edit#gid=911736951"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.output.student_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        1952
      ],
      "id": "e02666b7-df43-4e51-8f72-fc69d7dcc1b4",
      "name": "Verify student details",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').first().json.threadId }}",
        "emailType": "text",
        "message": "=Hi {{ $('Support mail receive').first().json.from.value[0].name }},\n\nThe email id which you have provided does not match with out database. Please verify the email again and make sure that you provide the email ID used during the regitration.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3504,
        2368
      ],
      "id": "f4fca4c4-70ec-4838-8d2c-1d76bcd26b88",
      "name": "Email not found message",
      "webhookId": "12e93c22-f80d-4cd8-a2bc-bd90e20a079c"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $json.Email }}",
        "subject": "[URGENT] Capabl Seat Transfer",
        "message": "=Hi {{ $json['Student Name'] }},\n\nOur records indicate that you have initiated a seat transfer to \n\nTransferee Name: {{ $('Information Extractor').item.json.output.transferee_name }}\nTransferee Email: {{ $('Information Extractor').item.json.output.transferee_email }}\nTransferee Phone Number: {{ $('Information Extractor').item.json.output.transferee_phone_number }}\n\nPlease confirm that you wish to proceed with this seat transfer. Also let the transferee know that they too will receive a confirmation mail for them to confirm the seat transfer.\n\nBest Regards,\nTeam Capabl",
        "approvalOptions": {
          "values": {
            "approveLabel": "Confirm Seat Transfer"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 2,
              "resumeUnit": "days"
            }
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3328,
        1952
      ],
      "id": "ed230563-c7df-4a53-89ce-4b011078c67a",
      "name": "Student seat transfer confirmation",
      "webhookId": "8d731a76-9558-4bd9-b6fa-36cf46bce380"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2363fa90-0299-4808-830e-c58b67493411",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3536,
        1952
      ],
      "id": "be2b63ee-2754-4801-9500-c4fcad80442a",
      "name": "Student confirmation status"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('Information Extractor').item.json.output.transferee_email }}",
        "subject": "[URGENT] Capabl Seat Transfer",
        "message": "=Hi {{ $('Information Extractor').first().json.output.transferee_name }},\n\nYou are receiving this mail because {{ $('Verify student details').first().json['Student Name'] }} has initiated a seat transfer for {{ $('Verify student details').first().json.Course }}.\n\nPlease verify your details and to proceed click on the confirmation button below.\n\nFull Name: {{ $('Information Extractor').first().json.output.transferee_name }}\nPhone Number: {{ $('Information Extractor').first().json.output.transferee_phone_number }}\nEmail: {{ $('Information Extractor').first().json.output.transferee_email }}\n\nBest Regards,\nTeam Capabl\n\n",
        "approvalOptions": {
          "values": {
            "approveLabel": "Confirm Seat Transfer"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 2,
              "resumeUnit": "days"
            }
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3744,
        1856
      ],
      "id": "c0c7acd5-a5a9-4fda-b18e-32f1e8fb2518",
      "name": "Transferee confirmation mail",
      "webhookId": "f3edaa1b-26d9-4404-9890-e3cd83f22a7e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69f159cd-3868-4e88-a7c4-04618faed154",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3952,
        1856
      ],
      "id": "8e6bb49f-3d00-4004-b6e0-575e219304bb",
      "name": "Transferee confirmation status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8b71cde-d961-4474-a8b1-5a524ec5e773",
              "name": "row_number",
              "value": "={{ $('Verify student details').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "196f8142-0a81-4e8f-a28f-e68223612c02",
              "name": "Email",
              "value": "={{ $('Information Extractor').item.json.output.transferee_email }}",
              "type": "string"
            },
            {
              "id": "4fc9d75e-8b32-45ed-b083-4d1fbfd1bab7",
              "name": "Student Name",
              "value": "={{ $('Information Extractor').item.json.output.transferee_name }}",
              "type": "string"
            },
            {
              "id": "e039f4be-de0e-4c4e-9118-933b16bc117d",
              "name": "Mobile",
              "value": "={{ $('Information Extractor').item.json.output.transferee_phone_number }}",
              "type": "string"
            },
            {
              "id": "2b153cc0-d38b-4a7b-924b-6bb6ca527020",
              "name": "Remarks",
              "value": "=Transferred from {{ $('Verify student details').item.json.Email }}, {{ $('Verify student details').item.json.Mobile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4160,
        1760
      ],
      "id": "da4a035b-6701-49cd-8065-ccc35ffd47a8",
      "name": "New student fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4368,
        1760
      ],
      "id": "8b1cacba-4cf5-47b6-bd26-1cb0fd491582",
      "name": "Update student in student pay"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4576,
        1760
      ],
      "id": "08ef746c-249e-4caa-8b85-731dd75d0fd7",
      "name": "Get Payment Details"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4784,
        1760
      ],
      "id": "bf8a9e72-4538-470d-a57d-1c80fec8af02",
      "name": "Loop Over Payment Detail Rows"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5200,
        1856
      ],
      "id": "a6eafd22-a2e9-4b82-91a0-fdd85b5cb31c",
      "name": "Update Payment Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1de834f-b1f2-4725-a37e-a0ca2bd3ece7",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "28b9eb75-8fc1-4418-8afa-d633d4f72820",
              "name": "Email",
              "value": "={{ $('Information Extractor').item.json.output.transferee_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4992,
        1856
      ],
      "id": "b710d40c-d641-4673-ac86-9765c3e92af4",
      "name": "Set New Student info"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').first().json.threadId }}",
        "emailType": "text",
        "message": "=Hi {{ $('Support mail receive').first().json.from.value[0].name }},\n\nYou are receiving this mail as a confirmation that your seat has been successfully transferred to {{ $('Information Extractor').first().json.output.transferee_name }}.\n\nYou can recover your Rs.{{ $('Verify student details').first().json['Amount Received'] }} from {{ $('Information Extractor').first().json.output.transferee_name }} as the seat has been transferred successfully.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4992,
        1648
      ],
      "id": "0d76eb2d-1288-4b5b-8166-37c2b30f4a7c",
      "name": "Seat Transfer Complete Mail",
      "webhookId": "c512fd0c-07c2-407e-8635-0e8080cba974",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5440,
        1648
      ],
      "id": "b1a802da-b8d6-4af5-b6a5-6a49e2ca4019",
      "name": "Get WhatsApp group links"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Information Extractor').first().json.output.transferee_email }}",
        "subject": "Welcome to Capabl",
        "emailType": "text",
        "message": "=Dear {{ $('Information Extractor').first().json.output.transferee_name }},\nCongratulations!!! Your seat is transferred.\n\nNext Steps:\n\nJoin WhatsApp Group (exclusively for your college for all important workshop updates)\n\n{{ $json['WhatsApp Group Link'] }}\n\nComplete the Remaining Fee Payment of Rs.{{ $('Verify student details').first().json.MRP - $('Verify student details').item.json['Amount Received'] }} before the deadlines date of {{ $('Get payment deadline').first().json['Last Date to Pay'] }}.\n\nPay here: https://rzp.io/rzp/X7MGU6w\n\n⚠️ Please note: We take Deadlines very seriously. Missing them may lead to seat cancellation.\n\nFor any queries, WhatsApp us at: +91 90356 58895\n\nLet’s meet at the workshop and become {{ $('Verify student details').item.json.Course }} together!\n\nWishing you a great future and happy learning!\n\nWith love,\nTeam Capabl.in",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5712,
        1648
      ],
      "id": "45613974-d21e-4524-9ded-5b98c3b3921b",
      "name": "Send a welcome message1",
      "webhookId": "678552d8-e3b6-4e47-9532-a145fff8b360"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Course 2'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "c5965cf3-633e-46a1-b481-c30d5180e58f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 courses"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b481d8a-77b3-42d7-a813-1319046be646",
                    "leftValue": "={{ $json.Email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid student"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d2a3ba2-e6df-4a6a-b7bd-c13faa9cbc6a",
                    "leftValue": "={{ $json.Email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid student"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3088,
        1936
      ],
      "id": "de758ee0-f627-4932-8820-6639e2f201c1",
      "name": "Verify student and enrolled courses"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').item.json.threadId }}",
        "emailType": "text",
        "message": "=Hi {{ $('Verify student details').first().json['Student Name'] }},\n\nSince you are enrolled in multiple courses at the same time, kindly reach out to us at [Phone Number], to verify and confirm your seat transfer.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3456,
        1696
      ],
      "id": "dc06ca4c-678c-468f-96b4-99dbf94952f4",
      "name": "2 course mail",
      "webhookId": "ec070b45-a607-4f8b-9ea8-6cedb2aeb152"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5216,
        1648
      ],
      "id": "6b1063c4-5e2a-4522-9594-98db987bdd82",
      "name": "Get payment deadline"
    },
    {
      "parameters": {
        "path": "9d51073b-50d8-43b9-8b63-c580131572d7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1392,
        2800
      ],
      "id": "2dda04e3-c554-4984-824c-3fb086820604",
      "name": "Webhook",
      "webhookId": "9d51073b-50d8-43b9-8b63-c580131572d7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs",
          "mode": "list",
          "cachedResultName": "Support Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 815687792,
          "mode": "list",
          "cachedResultName": "Student Pay",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit#gid=815687792"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        2800
      ],
      "id": "9261b32b-9d22-42c3-817f-f2aeedb8a8ac",
      "name": "Get college name"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs",
          "mode": "list",
          "cachedResultName": "Support Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 365552646,
          "mode": "list",
          "cachedResultName": "Refund Query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13qqI-oKNaAiWmenYhqKp-ZEApxS87En4sjBaw5lZcFs/edit#gid=365552646"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.query.name }}",
            "Email ID": "={{ $('Webhook').item.json.query.email }}",
            "Phone Number": "={{ $json.Mobile }}",
            "College Name": "={{ $json['College Name'] }}",
            "Timestamp": "={{ $now.setZone('Asia/Kolkata').toFormat('dd-MM-yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "College Name",
              "displayName": "College Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        2800
      ],
      "id": "bdcefcf6-122f-4c2d-927c-5e4663e9cf9e",
      "name": "New Refund Query"
    },
    {
      "parameters": {
        "text": "A new refund query has been added to the sheet",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        2800
      ],
      "id": "0553bf42-49ef-4626-97f1-ca69630618e0",
      "name": "Send a text message",
      "webhookId": "93b18029-ee24-4ec0-9c23-b7b4b380cfce"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Refund Request Query Created",
        "emailType": "text",
        "message": "=Hi {{ $('Webhook').item.json.query.name }},\n\nA new refund request query has been created for you. Our team will contact you shortly.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2224,
        2800
      ],
      "id": "85f16469-e5b8-48d7-a0a7-bb854a525a20",
      "name": "Send a ticket message",
      "webhookId": "43beb307-a361-4ee8-8a63-e0fef060c5b0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "447cdd1a-4fbe-4833-a0f6-d4124f7a4800",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@capabl.in",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "e3b8bff4-7695-441c-af8c-0e31492236c0",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@marketing.goindigo.in",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "4bfda137-f6ab-4e4f-96a6-bd34de485fea",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@google.com",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "27ae6ba8-3f8d-4015-ad42-1b96a7c0f191",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@tldv.io",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "e434f340-b6eb-4e97-9de2-a6e2496ef08e",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "@makemytrip.com",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        1872
      ],
      "id": "482b904a-26b9-4800-a4d7-f93637e954b8",
      "name": "Filter out organizations"
    },
    {
      "parameters": {
        "text": "=Chat History:\n\n{{ JSON.stringify($('Combine Chat History').item.json.data) }}\n\nMail Subject:\n\n{{ $('Support mail receive').first().json.subject }}\n\nMail Body:\n\n{{ $('Support mail receive').first().json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "email_id",
              "description": "Email ID provided by the user which they had used to register for the course",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2656,
        1088
      ],
      "id": "59633054-6312-43e7-85ff-e80dff597521",
      "name": "Email Extractor"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2640,
        1296
      ],
      "id": "35944c48-0bf6-4a5d-ba8e-cdd88343aa60",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1Wh0ZkHWzE9YBvqO_XA2ERN-3WZZi14_tobmQ-jrzhhU/edit#gid=911736951",
          "__regex": "https:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+.*\\#gid=([0-9]+)"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3008,
        1088
      ],
      "id": "8e63e93d-640a-48d7-9b0c-58d5186c0ee9",
      "name": "Get seat number",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').first().json.threadId }}",
        "message": "=Hi {{ $json['Student Name'] }},\n\nAs per your request, we have confirmed that you have registered with us with the email ID you have provided.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3552,
        1024
      ],
      "id": "8878696e-751d-4e92-af20-d49928378a8a",
      "name": "Send data found message",
      "webhookId": "6530e8df-339b-4712-9555-ecfda158ab6c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b7bbf63-b8c3-4170-a65e-63c4950ed56b",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3216,
        1088
      ],
      "id": "967563ad-e478-437a-9c37-f0afc173a144",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Support mail receive').first().json.threadId }}",
        "message": "=Hi {{ $('Support mail receive').first().json.from.value[0].name }},\n\nUnfortunately we could not find you details in the database.\n\nPlease make sure that you have inserted the correct email ID and it is the same one used for registering with us.\n\nBest Regards,\nTeam Capabl",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3552,
        1232
      ],
      "id": "accf5945-cf51-4418-8040-898cbdcc8abe",
      "name": "Student not found message",
      "webhookId": "ae9466f9-172c-4c26-a713-b2837e01698a"
    }
  ],
  "pinData": {},
  "connections": {
    "Support mail receive": {
      "main": [
        [
          {
            "node": "Mail label check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail label check": {
      "main": [
        [
          {
            "node": "Filter out organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch chat history": {
      "main": [
        [
          {
            "node": "Combine Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Chat History": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify query": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrail model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "Classify query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify query",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify fallback model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify query",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Email Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Route Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send refund message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other Route Reply": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send refund message": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Verify student details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify student details": {
      "main": [
        [
          {
            "node": "Verify student and enrolled courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email not found message": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student seat transfer confirmation": {
      "main": [
        [
          {
            "node": "Student confirmation status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student confirmation status": {
      "main": [
        [
          {
            "node": "Transferee confirmation mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transferee confirmation mail": {
      "main": [
        [
          {
            "node": "Transferee confirmation status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transferee confirmation status": {
      "main": [
        [
          {
            "node": "New student fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New student fields": {
      "main": [
        [
          {
            "node": "Update student in student pay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update student in student pay": {
      "main": [
        [
          {
            "node": "Get Payment Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment Details": {
      "main": [
        [
          {
            "node": "Loop Over Payment Detail Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Payment Detail Rows": {
      "main": [
        [
          {
            "node": "Seat Transfer Complete Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set New Student info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Student info": {
      "main": [
        [
          {
            "node": "Update Payment Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment Details": {
      "main": [
        [
          {
            "node": "Loop Over Payment Detail Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seat Transfer Complete Mail": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get payment deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp group links": {
      "main": [
        [
          {
            "node": "Send a welcome message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify student and enrolled courses": {
      "main": [
        [
          {
            "node": "2 course mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Student seat transfer confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email not found message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 course mail": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get payment deadline": {
      "main": [
        [
          {
            "node": "Get WhatsApp group links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get college name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get college name": {
      "main": [
        [
          {
            "node": "New Refund Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Refund Query": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a ticket message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out organizations": {
      "main": [
        [
          {
            "node": "Fetch chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Extractor": {
      "main": [
        [
          {
            "node": "Get seat number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get seat number": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send data found message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Student not found message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send data found message": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student not found message": {
      "main": [
        [
          {
            "node": "Add AI response to chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d3d2651-3344-4e01-aad0-cfb0bb2699e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0570b06cae72efa32c49579d117142d39cfac918b41649226c93d80b6607409"
  },
  "id": "t05GB5w2UOGWLpEV",
  "tags": []
}